
<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Memória de Cálculo
            <small>Administração</small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i>  
                
                
            </li>
            <li >
                <i class="fa fa-calculator"></i>     
                <a href="#/admin/calculos">Memória de Cálculo</a>

            </li>
            <li class="active">
            <i class="fa {{icone}}"></i>
            {{nomePagina}}
          </li>
        </ol>
    </div>
</div>
<!-- /.row -->

