    <!-- Page Heading -->
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">
          Funcionários
          <small>Administração</small>
        </h1>
        <ol class="breadcrumb">
          <li>
            <i class="fa fa-dashboard"></i>
            <a ng-href="#/">Dashboard</a>
          </li>
          <li >
            <i class="fa fa-user"></i>
            <a ng-href="#/admin/funcionarios/">Funcionários</a>
          </li>
          <li class="active">
            <i class="fa {{icone}}"></i>
            {{nomePagina}}
          </li>
        </ol>
      </div>
    </div>
    <!-- /.row -->
<form name="form">
    <div class="row">
      <div class="col-md-12">

      <div class="alert alert-danger" ng-show="isShowErrorMessage()">
        <i class="fa fa-exclamation-circle"> </i>
          <span> Por favor, verifique os erros!</span>
      </div>
      <div class="alert alert-success" ng-show="isShowSuccessMessage()">
        <i class="fa fa-check-square-o"> </i>
          <span> Funcionário Salvo com Sucesso!</span>
      </div>
    </div>
      <div class="col-md-6 col-lg-5">
        <div class="form-group {{form.nome.$error.required ? 'has-error' : ''}}">
          <label>Nome:
          </label>
          <input class="form-control" name="nome" placeholder="Nome"
          ng-model="funcionario.dados.nome"
          ng-required="true" uppercase
          ></input>
          <span ng-show="form.nome.$error.required" class="label label-danger"> Campo Obrigatório </span>

        </div>
      </div>
      <div class="col-md-6 col-lg-5">
        <div class="form-group">
          <label>Sobrenome:
          </label>
          <input class="form-control" uppercase name="sobrenome" placeholder="Sobrenome" ng-model="funcionario.dados.sobrenome">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-5">
        <div class="form-group {{form.email.$error.email? 'has-error' : ''}}">
          <label>Email:
          </label>
          <div class="form-group input-group" style="margin-top:0">
            <span class="input-group-addon">@</span>
            <input type="email" class="form-control" name="email" placeholder="Email"
              ng-model="funcionario.dados.email" uppercase>
          </div>
          <span class="label label-danger" ng-show="form.email.$error.email">
              Email Inválido
          </span>
        </div>
      </div>
      <div class="col-md-6 col-lg-5">
        <div class="form-group {{form.cpf.$error.cpf ? 'has-error' : ''}}">
          <label>CPF:
          </label>
          <input class="form-control" name="cpf" placeholder="CPF" ng-model="funcionario.dados.cpf" ui-br-cpf-mask>
          <span class="label label-danger" ng-show="form.cpf.$error.cpf">
              CPF Inválido
          </span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-lg-5">

          <label>Usuário:
          </label>
          <select   ng-model="funcionario.dados.id_usuario"
            class="form-control" name="perf"
            ng-options="user.id as user.login for user in listaUsuarios"
            >
              <option value="" disabled selected>Selecione</option>

          </select>
          <span class="label label-danger" ng-show="form.perf.$error.required">
            Campo Obrigatório
          </span>

      </div>
    </div>
</form>


    <!-- telefones aqui -->
    <div telefones ng-show="funcionario.dados.id"></div>

    <!-- enderecos aqui -->
    <div enderecos ng-show="funcionario.dados.id"></div>

    <div class="row">
      <div class="col-md-8">

        <button type="button" class="btn btn-lg  btn-primary" ng-click="salvar()">
          Salvar
        </button>
        <button type="button" class="btn btn-lg  btn-default" ng-click="voltar()">
          Voltar
        </button>

      </div>
    </div>
