<!-- Page Heading -->
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
      Tabelas
      <small>Administração</small>
    </h1>
    <ol class="breadcrumb">
      <li>
        <i class="fa fa-dashboard"></i>
        <a ng-href="#/">Dashboard</a>
      </li>
      <li class="active">
        <i class="fa fa-fw fa-stethoscope"></i>
        Tabelas
      </li>
    </ol>
  </div>
</div>
<!-- /.row -->

<div class="row">

  <div class="col-md-6 col-lg-5">
    <div class="form-group">
      <label>Código AMB:
      </label>
      <input class="form-control" placeholder="Código AMB"
      ng-model="formulario.dados.codigo_amb" uppercase
      ></input>
    </div>
  </div>
  <div class="col-md-6 col-lg-5">
    <div class="form-group">
      <label>Código TUS:
      </label>
      <input class="form-control" placeholder="Código TUS"
      ng-model="formulario.dados.codigo_tus" uppercase>
    </div>
  </div>
</div>

<div class="row">

  <div class="col-md-6 col-lg-5">
    <div class="form-group">
      <label>Quantidade CH:
      </label>
      <input class="form-control" placeholder="Quantidade CH"
      ng-model="formulario.dados.qtd_ch" uppercase ui-number-mask="0" maxlength="11"
      ></input>
    </div>
  </div>
  <div class="col-md-6 col-lg-5">
    <div class="form-group">
      <label>M2 Filme:
      </label>
      <input class="form-control" placeholder="M2 Filme"
       ng-model="formulario.dados.m2_filme" uppercase
        ui-number-mask maxlength="11">
    </div>
  </div>
</div>

<div class="row">

  <div class="col-md-6 col-lg-5">
    <div class="form-group">
      <label>Porte:
      </label>
      <input class="form-control" placeholder="Porte"
      ng-model="formulario.dados.porte"  uppercase ui-number-mask="0" maxlength="11"
      ></input>
    </div>
  </div>
  <div class="col-md-6 col-lg-5">
    <div class="form-group">
      <label>Porte CH:
      </label>
      <input class="form-control" placeholder="Porte CH"
       ng-model="formulario.dados.porte_ch" uppercase  ui-number-mask="0" maxlength="11">
    </div>
  </div>
</div>

<div class="row">

  <div class="col-md-6 col-lg-5">
    <div class="form-group">
      <label>Número:
      </label>
      <input class="form-control" placeholder="Número" ui-number-mask="0"
      ng-model="formulario.dados.numero" uppercase
      ></input>
    </div>
  </div>
<div class="col-md-6 col-lg-5">
    <div class="form-group">
      <label>Descrição:
      </label>
      <input class="form-control" placeholder="Descrição"
      ng-model="formulario.dados.descricao" uppercase
      ></input>
    </div>
  </div>

</div>

<div class="margin-top-10">
<div>
<div class="row ">
  <div class="col-md-8 hidden-xs ">

    <button type="button" class="btn btn-lg  btn-primary" ng-click="pesquisar()">
      Pesquisar
    </button>
    <button type="button" class="btn btn-lg  btn-info" ng-click="novoTabela()">
      Novo
    </button>
    <button type="button" class="btn btn-lg  btn-default" ng-click="limparForm()">Limpar</button>

  </div>

  <div class="col-md-4 hidden-xs">
    <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-primary btn-sm active" ng-click="setStatus(true)">
          <input  type="radio" name="options" id="option1"  autocomplete="off" checked >
            Ativos
          </input>
        </label>
        <label class="btn btn-primary btn-sm" ng-click="setStatus(false)">
          <input type="radio" name="options" id="option2" ng-click="setStatus(false)"  autocomplete="off">
            Inativos
          </input>
        </label>
      </div>
  </div>
  <div class="col-xs-12 hidden-lg hidden-md hidden-sm">
    <button type="button" class="btn  btn-primary" ng-click="pesquisar()">
      Pesquisar
    </button>
    <button type="button" class="btn  btn-info" ng-click="novoTabela()">
      Novo
    </button>
    <button type="button" class="btn  btn-default" ng-click="limparForm()">Limpar</button>
  </div>

  <div class="margin-top-10 col-xs-12 hidden-lg hidden-md hidden-sm">
    <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-primary btn-sm active">
          <input type="radio" name="options" id="option1"  autocomplete="off" checked>
            Ativos
          </input>
        </label>
        <label class="btn btn-primary btn-sm">
          <input type="radio" name="options" id="option2"  autocomplete="off">
            Inativos
          </input>
        </label>
      </div>
  </div>
</div>
<div class="page-header">
    <h1>  </h1>
</div>

<div class="row">
  <div class="col-md-12 col-lg-10">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Tabelas</h3>

      </div>

      <div class="panel-body">
        <div class="table-responsive">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>Código AMB</th>
                                    <th>Código TUS</th>
                                    <th>Qtd CH</th>
                                    <th>M2 Filme</th>
                                    <th>Porte</th>
                                    <th>Porte CH</th>
                                    <th>Número</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr dir-paginate="tabela in listaTabelas  | itemsPerPage: 5">
                                    <td>{{tabela.codigo_amb}}</td>
                                    <td>{{tabela.codigo_tus}}</td>
                                    <td>{{tabela.qtd_ch}}</td>
                                    <td>{{tabela.m2_filme}}</td>
                                    <td>{{tabela.porte}}</td>
                                    <td>{{tabela.porte_ch}}</td>
                                    <td>{{tabela.numero}}</td>
                                    <td>
                                      <div>
                                          <button type="button" class="btn btn-xs btn-default" ng-click="alterarTabela(tabela)">Alterar</button>
                                          <button type="button" class="btn btn-xs btn-danger"  ng-click="deletar(tabela)" confirm="Deseja realmente apagar o registro?">Deletar</button>
                                      </div>
                                    </td>

                                </tr>


                            </tbody>
                        </table>

                    </div>
                    <div class="text-right">
                      <dir-pagination-controls></dir-pagination-controls>
                    </div>
      </div>
    </div>
  </div>
</div>
